* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#board {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 350px;
    border-radius: 25px;
    box-shadow: 0 0 5px grey;
    background-color: white;

    overflow: auto;
}


.wrapper {
    overflow: auto;
    text-align: center;
}
.wrapper:last-child {
    margin-bottom: 24px;
}



.control {
    position: relative;

    width: 300px;
    overflow: visible;
    padding: 15px;
    margin: 30px auto;
}
.control .mover {
    position: absolute;
    top: 1px;
    right: 0;

    width: 30px;
    height: 30px;
    background-color: white;
    border: 2px dotted black;
    border-radius: 50%;
}
.control .hr {
    width: 100%;
    height: 2px;
    background-color: black;
}